aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(117, 213, 240, 0.9);
  z-index: 10;
  padding: 10px;
}
aside * {
  font-size: 20px;
  line-height: 20px;
}
aside #at {
  font-size: 16px;
}
aside button#checkOut {
  height: 30px;
}
aside h1 {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 15px;
  top: 15px;
}
#map {
  position: relative;
}
#map header {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  z-index: 5;
}
#map #standardPos section table {
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
}
#map #standardPos section table td {
  border: 1px solid grey;
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
}
#map #standardPos section table td:hover {
  font-size: 1.5em;
  cursor: pointer;
  border: 3px solid;
  border-color: #BBB #999 #999 #BBB;
  background: silver;
  width: 100px;
}
#map #standardPos section table td:active {
  background: grey;
  border-color: #666 #999 #999 #666;
}
#map #standardPos section table td.mine {
  background-color: GreenYellow;
}
#invisible {
  display: none;
}
